@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("https://plus.unsplash.com/premium_photo-1667520175454-1db3d90afd28?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8U2FsdWQlMjBDb3Jwb3JhdGl2YXxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  
}
.warning-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9em;
}

.title {
  color: #045e8f;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.inputContainer {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #045e8f;
}

.label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  color: #999;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  top: 0;
  font-size: 0.8rem;
  color: #045e8f;
  background: white;
  padding: 0 5px;
}

.input::placeholder {
  color: transparent;
}

.icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #999;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-primary {
  background-color: #045e8f;
  color: white;
}

.btn-secondary {
  background-color: #ddd;
  color: #333;
}

.btn:hover {
  opacity: 0.9;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}